.demo-container {
  padding: 10px;
  background-color: #3a4450;
  color: white;

  //transform: rotate(0deg);

  h3 {
    background: url("../../../asset/img/favicon.png") no-repeat right;
  }

  .demo-container-in{

  }
}